.font{
   font-size: 14px; 
   text-align: start;
}
.Btn{
    font-size: 28px;
}
/* Confirm.module.css */

.font {
    font-size: 16px;
    color: #333;
    line-height: 1.5;
    text-align:left;
  }
  
  .cardWrapper {
    width: 50%;
  }
  .Para{
    font-size: 14px;
    text-align:start;
    justify-content: start;
    width:50%;
    }
  
  .buttonResponsive {
    width: 250px;
    height: 50px;
    font-size: 20px;
  }
   .checkboxLabel{
    font-size: 12px;
    margin-top: 6px;
  }
  .agree{
    margin-right: 37%;
  }
 
  
  /*  Mobile view - screen less than or equal to 768px */
  @media (max-width: 768px) {
    .font {
      font-size: 14px;
      text-align:start;
    }
    .cardWrapper {
      width: 90% !important; 
    }
    .buttonResponsive {
      width: 50% !important;
      height: 45px;
      font-size: 16px;
    }
    .checkboxLabel {
      font-size: 9px;
      margin-top: 9px;
    }
    .Para{
        width:90% !important;
        font-size: 14px;
        margin-left: 20px;
    }
    .agree{
      margin-right:-7px;
    }
  }
  @media (max-width: 322px){
    .agree{
      margin-right:40%;
    }
  }
  