@import url("https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
.CustomerCon {
  padding: 2rem;
  font-family: "Montserrat", sans-serif;
}

.headerCon {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
}

.titleSection {
  display: flex;
  align-items: center;
  gap: 4rem;
}

.IconCon {
  width: 14vh;
  height: 14vh;
  border-radius: 50%;
  background-color: #fcd9a2;
  display: flex;
  align-items: center;
  justify-content: center;
}
.heading {
  font-size: 20px;
  font-weight: 700;
  margin: 0;
}

.addNew {
  color: #979797;
  background: none;
  border: none;
  font-size: 18px;
  font-weight: 500;
  margin-right: 5rem;
}
.optionbutton {
  background-color: transparent;
  border: 1px solid #ebecf0;
  height: 10vh;
  margin-top: 2%;
  font-size: 20px;
  font-weight: 500;
  color: #5b5f62;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 2rem;
  padding-right: 2rem;
  border-radius: 10px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.3);
}
.bottomCon {
  display: flex;
  flex-direction: column;
  padding-left: 3rem;
  padding-right: 3rem;
  padding-top: 1rem;
}

@media (max-width: 992px) {
  .CustomerCon {
    padding: 1.5rem;
  }
  .MainIcon {
    width: 30px;
    height: 30px;
  }

  .headerCon {
    flex-direction: column;
    align-items: flex-start;
    gap: 1rem;
  }

  .titleSection {
    flex-direction: column;
    align-items: flex-start;
    gap: 1rem;
  }

  .IconCon {
    width: 10vh;
    height: 10vh;
  }

  .heading {
    font-size: 18px;
  }

  .addNew {
    margin-right: 0;
    align-self: flex-end;
    font-size: 16px;
  }

  .bottomCon {
    padding: 1rem;
  }

  .optionbutton {
    font-size: 18px;
    padding: 1rem;
    height: auto;
    flex-direction: row;
    align-items: flex-start;
    gap: 0.5rem;
  }
}

@media (max-width: 576px) {
  .CustomerCon {
    padding: 1rem;
  }

  .IconCon {
    width: 8vh;
    height: 8vh;
  }

  .heading {
    font-size: 16px;
  }

  .addNew {
    font-size: 14px;
  }

  .optionbutton {
    font-size: 12px;
    padding: 0.8rem 1rem;
    height: auto;
    flex-direction: row;
    align-items: flex-start;
    gap: 0.3rem;
  }

  .bottomCon {
    padding: 0.5rem;
  }
}
