@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

 .hero-section {
    position: relative;
    height: 100vh;
    overflow: hidden;
      background-color: rgba(0, 0, 0, 0.1) !important;
          height: 100vh;
    background-image: url("../assets/LandingPage.svg");
    background-size: cover;
    background-position: center;
    position: relative;
  }

  .hero-section > * {
    position: relative;
    z-index: 1;
  }
  .navbar {
    backdrop-filter: blur(25px);
    -webkit-backdrop-filter: blur(10px);
    z-index: 10; 
  }


  .searchbar ul {
    z-index: 9999 !important; 
  }


  .toggle {
    background-color: transparent !important;
    border: none !important;
  }
  
  .hero-section .navbar {
    padding: 0.5rem 1rem;
  }

  .hero-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    text-align: center;
  }

  .white-placeholder::placeholder {
    color: white;
  }

  @keyframes micPulse {
    0% {
      transform: scale(1);
      color: #ffffff;
    }
    50% {
      transform: scale(1.2);
      color: #ff4d4d;
    }
    100% {
      transform: scale(1);
      color: #ffffff;
    }
  }
  
  .mic-animating {
    animation: micPulse 1s infinite;
  }

  @media (max-width: 1300px) {
   .searchbar{
    width: 280px;
   }
   .lang{
    margin-left: 25px;
   }
  }
  
  @media (max-width: 990px) {
    .searchbar{
margin-left: 200px;

   }
  }
  @media (max-width: 690px) {
    .searchbar{
margin-left: 100px;

   }
  }
  @media (max-width: 500px) {
    .searchbar{
margin-left: 30px;
   }
  }

  @media (max-width: 350px) {
    .searchbar{
margin-left: 0px;
   }
  }

  
  